-- supabase/migrations/00006_add_tester_3.sql

ALTER TABLE public.stage_room_assignments
ADD COLUMN tester_3_id UUID REFERENCES public.users(id);

DROP POLICY "Penguji can insert/update their own scores" ON public.scores;

CREATE POLICY "Penguji can insert/update their own scores" ON public.scores
  FOR ALL USING (
    -- The scorer must be the current user
    auth.uid() = scorer_user_id
    AND EXISTS (
      -- The current user must be assigned to the room where this candidate is assigned for this stage
      SELECT 1 FROM public.candidate_room_assignments cra
      JOIN public.stage_room_assignments sra 
        ON cra.stage_id = sra.stage_id AND cra.room_id = sra.room_id
      WHERE cra.candidate_id = scores.candidate_id
        AND cra.stage_id = scores.stage_id
        AND (sra.tester_1_id = auth.uid() OR sra.tester_2_id = auth.uid() OR sra.tester_3_id = auth.uid())
    )
  );
